*.so
.Python
env/
bin/
build/
dist/
eggs/
lib/
parts/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Vagrant machines folder
.vagrant/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
coverage.xml

# Sphinx documentation
docs/_build/
