<!doctype html>
<html ng-app="WordFrequencyApp">
  <head>
    <title>Word Frequency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-controller="WordFrequencyController">
    <div class="container">
      <div class="row">
        <div class="col-sm5 col-sm-offset-1">
          <h1>Word Frequency Count</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" ng-model="input_url" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br>
          <p>Enter a URL to check the number of words used inside the body of the web page.</p>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <h2>Frequencies</h2>
          <br>
          <div id="results">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Word</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                {% raw %}
                <tr ng-repeat="(key, val) in wordcounts">
                  <td>{{ key }}</td>
                  <td>{{ val }}</td>
                </tr>
                {% endraw %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
